/* fonts:
These 2 fonts may have the best handwriting:
https://fonts.google.com/specimen/Kalam

https://fonts.google.com/specimen/Nanum+Pen+Script




https://fonts.google.com/specimen/Handlee

https://fonts.google.com/specimen/Caveat

https://fonts.google.com/specimen/Gamja+Flower

https://fonts.google.com/specimen/Yeon+Sung

https://fonts.google.com/specimen/Dancing+Script

https://fonts.google.com/specimen/Indie+Flower
 */
body {
  background-color: white;
  /* font-size: 200%; */
  /* color: black; */
  font-family: 'Source Sans Pro', sans-serif;

}


.logo {
  object-position: center;
  margin: auto;
  display: block;
  max-width: 50%;
}
.top_image {
  max-width: 100%;
}

.links {
  position: absolute;
  top: 50px;
  left: 16px;
  color: white;
}

.slogan {
  font-family: 'Pacifico', cursive;
  font-size: 100%;
}
.slogan2 {
  font-weight: bold;
  font-size: 125%;
  color: #CC0517;
  padding-top: 8%;
  padding-bottom: 5%;
}

.map_words {
  padding-left: 2%;
  font-size: 100%;
  line-height: .9em;
  margin-top: -3%;

}
.map {
  max-width: 30%;
}
/* .spacing {
  line-height: 150px;
  font-size: 100px;
} */
.yelp {
  padding-left: 20%;
  padding-right: 20%;
  font-size: .9;
  line-height: 2;

}
.yelp_review {
  text-align: right;
  font-style: italic;
}

a:link, a:visited {
  color: white;
  font-size: 36px;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
}

a:hover, a:active {
  font-size: 225%;
}

.logo_words {
  text-align: center;
}

.hours {
  text-align: center;
}

.coffee_6 {
  float: right;
  width: 25%;
  padding: 2%;
  border-radius: 200px;
  margin-right: 3em;
  margin-left: 3em;
}


.employment_no_jobs {
  color: #D30118;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  text-decoration: underline;
}

.employment_no_jobs_small {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  font-style: normal;
  line-height: 1.5;
}
